# general
pandas
jellyfish

# for reverse geocoding
reverse_geocoder

# for panda's df.to_excel()
openpyxl
xlsxwriter

# for panda's df.read_excel()
xlrd

# for git-related util functions
GitPython
pydriller
