# general
pandas
jellyfish
gspread-pandas
matplotlib

# for maps
cartopy

# for receipts parsing
pdftotext
invoice2data

# for reverse geocoding
reverse_geocoder

# for panda's df.to_excel()
openpyxl
xlsxwriter

# for panda's df.read_excel()
xlrd

# for git-related util functions
GitPython
pydriller
