# general
matplotlib

# for machine learning (autogluon)
wheel
mxnet<2.0.0
autogluon


# for location history analysis
calmap

# for panda's df.to_excel()

# for panda's df.read_excel()

# for gsheets import/export

# for git-related util functions

# for caching computational tasks
